$images: "deep-earth", "night-arcade", "soccer-team", "grid", "from-above",
  "pocket-borealis", "curiosity", "fisheye";

@mixin images($screenType) {
  @for $contor from 1 through 8 {
    &:nth-of-type(#{$contor}) {
      $image: nth($images, $contor);
      background-image: url("../images/#{$screenType}/image-#{$image}.jpg");
    }
  }

  // &:nth-of-type(1) {
  //   background-image: url("../images/mobile/image-deep-earth.jpg");
  // }

  // &:nth-of-type(2) {
  //   background-image: url("../images/mobile/image-night-arcade.jpg");
  // }

  // &:nth-of-type(3) {
  //   background-image: url("../images/mobile/image-soccer-team.jpg");
  // }

  // &:nth-of-type(4) {
  //   background-image: url("../images/mobile/image-grid.jpg");
  // }

  // &:nth-of-type(5) {
  //   background-image: url("../images/mobile/image-from-above.jpg");
  // }

  // &:nth-of-type(6) {
  //   background-image: url("../images/mobile/image-pocket-borealis.jpg");
  // }

  // &:nth-of-type(7) {
  //   background-image: url("../images/mobile/image-curiosity.jpg");
  // }

  // &:nth-of-type(8) {
  //   background-image: url("../images/mobile/image-fisheye.jpg");
  // }
}
